.button {
  display: flex;
  width: 250px;
  height: 40px;
  margin-top: 20px;
  font-size: 16px;
  color: $button-text;
  background: $button-color;
  border-radius: 3px;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  justify-content: center;
}

.button:hover {
  color: $button-color;
  background-color: $button-hover;
}
