$max-width: 1200px;
$gutter: 20px;
$half-width: 600px;
$button-text: #000;
$footer-color: #cc9694;
$link-color: #fcffd2;
$button-color: #cc9694;
$header-color: #afb281;
$button-hover: #000;
$link-hover: #cee8ff;
$link-hover2: #000;
