.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.product {
  display: flex;
  width: 100%;
  max-width: 380px;
  max-height: 800px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  overflow: hidden;
  flex-flow: column wrap;
  flex-grow: 1;
}

.product__content {
  display: flex;
  flex-flow: column wrap;
}

.product__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 28px;
}

.product__price {
  margin-top: 10px;
  margin-bottom: 10px;
}

.product__last {
  display: flex;
  flex-flow: column;
}

.product__input {
  display: flex;
  flex-flow: row;
}

.product__img {
  max-width: 380px;
}

.product__button {
  display: flex;
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: $button-text;
  background: none;
  border-radius: 3px;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  justify-content: center;
}

.product__button:hover {
  color: $button-text;
  background-color: $button-color;
}
